* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: $pF;
  box-sizing: border-box;
}

html {
  body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    .center-wrapper {
      width: 1100px;
      height: 100%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      overflow: hidden;
    }
    .sub-heading {
      @extend %h3;
    }
  }
}

@media (max-width: 850px) {
  * {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  html {
    body {
      .center-wrapper {
        width: 100%;
        padding: 0 5%;
      }
    }
  }
}
