* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: $pF;
  box-sizing: border-box;
}

html {
  body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    .center-wrapper {
      width: 1100px;
      height: 100%;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      overflow: hidden;
    }
    .sub-heading {
      @extend %h3;
    }
    .anchor-link {
      @extend %btnBlue;
      border: 2px $blue solid;
      position: relative;
      p {
        position: relative;
        z-index: 1;
        font-family: $pF;
        font-size: 1rem;
        font-weight: 400;
        color: $white;
        margin: 0;
      }
      .btn-bg {
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        transition: 0.2s;
        min-height: 0;
        transform: rotate(180deg);
      }
    }
    .anchor-link:hover {
      box-shadow: $shadow;
      p {
        color: $blue;
      }
      .btn-bg {
        min-height: 100%;
      }
    }
  }
}

@media (max-width: 850px) {
  * {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  html {
    body {
      .center-wrapper {
        width: 100%;
        padding: 0 5%;
      }
    }
  }
}
