// Fonts
$hF: "Cabin", sans-serif; // Heading Font
$pF: "Overpass", sans-serif; // Paragraph Font

// Colors
$dark: #2d3142;
$light: #8e919c;
$white: #ffffff;
$blue: #008bf8;
$orange: #ffa114;
$green: #57e290;
$grey: #e0e0e0;
$textLight: #595d6e;
$red: #ff2f14;

// Headings
%h1 {
  font-size: 3rem;
  font-weight: 700;
  color: $dark;
  font-family: $hF;
}
%h2 {
  font-size: 2rem;
  font-weight: 500;
  color: $dark;
  font-family: $hF;
}
%h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: $dark;
  font-family: $hF;
}
%h6 {
  font-size: 1rem;
  font-weight: 700;
  color: $dark;
  font-family: $hF;
}
%hP {
  font-size: 1rem;
  font-weight: 500;
  color: $light;
  font-family: $pF;
}
// Paragraph
%p1 {
  font-size: 1rem;
  font-weight: 400;
  color: $dark;
  font-family: $pF;
}
// Buttons
%btnBlue {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: $blue;
  color: $white;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}
%btnOrange {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: $orange;
  color: $white;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}

// Borders
$bG: $grey 1px solid;
$bO: $orange 2px solid;
$bB: $blue 2px solid;
// Shadow
$shadow: 0 0 20px rgba(45, 49, 66, 0.13);
$shadowHover: 0 0 50px rgba(45, 49, 66, 0.36);
