.page-title, .project-heading h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

html body .sub-heading, .app-header .center-wrapper .logo-wrapper .logo, .app-header .project-heading .logo-wrapper .logo, .app-header .projects-p-container .logo-wrapper .logo, .app-header .contact-form-container .logo-wrapper .logo, .app-header .center-wrapper .logo-wrapper .blue, .app-header .project-heading .logo-wrapper .blue, .app-header .projects-p-container .logo-wrapper .blue, .app-header .contact-form-container .logo-wrapper .blue, .footer .footer-top .credit h6, .page-subHeading,
.page-emHeading, .project-heading h3, #contact-wrapper .mobile-form-title, .contact-form-container .form-title h3, .banner-wrapper .banner-info h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

.footer .center-wrapper .footer-column h6, .footer .project-heading .footer-column h6, .footer .projects-p-container .footer-column h6, .footer .contact-form-container .footer-column h6, .works-grid .grid-item-w-info .works-title h6, form .input-wrapper label {
  font-size: 1rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

.footer .footer-top .credit p, .footer .center-wrapper .footer-column ul li a, .footer .project-heading .footer-column ul li a, .footer .projects-p-container .footer-column ul li a, .footer .contact-form-container .footer-column ul li a,
.footer .center-wrapper .footer-column ul li button,
.footer .project-heading .footer-column ul li button,
.footer .projects-p-container .footer-column ul li button,
.footer .contact-form-container .footer-column ul li button,
.footer .center-wrapper .footer-column ul li p,
.footer .project-heading .footer-column ul li p,
.footer .projects-p-container .footer-column ul li p,
.footer .contact-form-container .footer-column ul li p {
  font-size: 1rem;
  font-weight: 500;
  color: #8e919c;
  font-family: "Overpass", sans-serif;
}

#contact-wrapper .left-wrapper .information p {
  font-size: 1rem;
  font-weight: 400;
  color: #2d3142;
  font-family: "Overpass", sans-serif;
}

html body .color-blue, .works-grid .work-empty-state a, .banner-wrapper .banner-info a {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #008bf8;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

html body .color-orange, form input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #ffa114;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Overpass", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

html body .center-wrapper, html body .project-heading, html body .projects-p-container, html body .contact-form-container {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

html body .anchor-link {
  position: relative;
  overflow: hidden;
}

html body .anchor-link p {
  position: relative;
  z-index: 1;
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
}

html body .anchor-link .btn-bg {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 110%;
  min-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

html body .anchor-link:hover {
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

html body .anchor-link:hover .btn-bg {
  min-height: 100%;
}

html body .color-blue {
  border: 2px #008bf8 solid;
}

html body .color-orange {
  background-color: #ffffff;
  border: 2px #ffa114 solid;
}

html body .color-orange p {
  color: #ffa114;
}

html body .color-blue:hover p {
  color: #008bf8;
}

html body .color-orange:hover {
  border: 2px #ffa114 solid;
}

html body .color-orange:hover .btn-bg {
  background-color: #ffa114;
  border: #ffa114 5px solid;
}

html body .color-orange:hover p {
  color: #ffffff;
}

@media (max-width: 850px) {
  * {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  html body .center-wrapper, html body .project-heading, html body .projects-p-container, html body .contact-form-container {
    width: 100%;
    padding: 0 5%;
  }
}

.app-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #e0e0e0 1px solid;
  height: 70px;
}

.app-header .center-wrapper, .app-header .project-heading, .app-header .projects-p-container, .app-header .contact-form-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.app-header .center-wrapper .logo-wrapper .logo, .app-header .project-heading .logo-wrapper .logo, .app-header .projects-p-container .logo-wrapper .logo, .app-header .contact-form-container .logo-wrapper .logo {
  text-decoration: none;
}

.app-header .center-wrapper .logo-wrapper .blue, .app-header .project-heading .logo-wrapper .blue, .app-header .projects-p-container .logo-wrapper .blue, .app-header .contact-form-container .logo-wrapper .blue {
  text-decoration: none;
  color: #008bf8;
}

.app-header .center-wrapper nav, .app-header .project-heading nav, .app-header .projects-p-container nav, .app-header .contact-form-container nav {
  margin-left: auto;
  margin-top: 15px;
}

.app-header .center-wrapper nav ul, .app-header .project-heading nav ul, .app-header .projects-p-container nav ul, .app-header .contact-form-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-header .center-wrapper nav ul li, .app-header .project-heading nav ul li, .app-header .projects-p-container nav ul li, .app-header .contact-form-container nav ul li {
  margin-left: 25px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
}

.app-header .center-wrapper nav ul li .active, .app-header .project-heading nav ul li .active, .app-header .projects-p-container nav ul li .active, .app-header .contact-form-container nav ul li .active {
  color: #008bf8;
}

.app-header .center-wrapper nav ul li .active .link-icon, .app-header .project-heading nav ul li .active .link-icon, .app-header .projects-p-container nav ul li .active .link-icon, .app-header .contact-form-container nav ul li .active .link-icon {
  min-width: 100%;
  background-color: #008bf8;
}

.app-header .center-wrapper nav ul li a, .app-header .project-heading nav ul li a, .app-header .projects-p-container nav ul li a, .app-header .contact-form-container nav ul li a {
  text-decoration: none;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.app-header .center-wrapper nav ul li a:hover, .app-header .project-heading nav ul li a:hover, .app-header .projects-p-container nav ul li a:hover, .app-header .contact-form-container nav ul li a:hover {
  color: #ffa114;
}

.app-header .center-wrapper nav ul li a:hover .link-icon, .app-header .project-heading nav ul li a:hover .link-icon, .app-header .projects-p-container nav ul li a:hover .link-icon, .app-header .contact-form-container nav ul li a:hover .link-icon {
  background-color: #ffa114;
  min-width: 100%;
}

.app-header .center-wrapper nav ul li .active:hover, .app-header .project-heading nav ul li .active:hover, .app-header .projects-p-container nav ul li .active:hover, .app-header .contact-form-container nav ul li .active:hover {
  color: #8c977b;
}

.app-header .center-wrapper nav ul li .active:hover .link-icon, .app-header .project-heading nav ul li .active:hover .link-icon, .app-header .projects-p-container nav ul li .active:hover .link-icon, .app-header .contact-form-container nav ul li .active:hover .link-icon {
  background-color: #8c977b;
  min-width: 100%;
}

.app-header .center-wrapper nav ul li .link-icon, .app-header .project-heading nav ul li .link-icon, .app-header .projects-p-container nav ul li .link-icon, .app-header .contact-form-container nav ul li .link-icon {
  min-width: 0%;
  width: 0%;
  height: 2px;
  background: none;
  display: block;
  margin-top: 5px;
  -webkit-transition: 0.1s background-color;
  transition: 0.1s background-color;
  -webkit-transition: 0.3s min-width;
  transition: 0.3s min-width;
}

.app-header .center-wrapper nav ul #contact-link, .app-header .project-heading nav ul #contact-link, .app-header .projects-p-container nav ul #contact-link, .app-header .contact-form-container nav ul #contact-link {
  margin-left: 50px;
}

.app-header .center-wrapper .burger-menu-icon, .app-header .project-heading .burger-menu-icon, .app-header .projects-p-container .burger-menu-icon, .app-header .contact-form-container .burger-menu-icon {
  background: none;
  border: none;
  outline: none;
  width: 30px;
  height: 25px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  z-index: 16;
}

.app-header .center-wrapper .burger-menu-icon img, .app-header .project-heading .burger-menu-icon img, .app-header .projects-p-container .burger-menu-icon img, .app-header .contact-form-container .burger-menu-icon img {
  width: 100%;
}

.app-header .mobile-menu {
  display: none;
  width: 100%;
  height: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 15;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.app-header .mobile-menu li {
  list-style-type: none;
  margin: 10px 0;
}

.app-header .mobile-menu li a {
  font-family: "Cabin", sans-serif;
  color: #2d3142;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.app-header .mobile-menu li .active {
  color: #008bf8;
}

@media (max-width: 600px) {
  .app-header .center-wrapper nav, .app-header .project-heading nav, .app-header .projects-p-container nav, .app-header .contact-form-container nav {
    display: none;
  }
  .app-header .center-wrapper .burger-menu-icon, .app-header .project-heading .burger-menu-icon, .app-header .projects-p-container .burger-menu-icon, .app-header .contact-form-container .burger-menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app-header .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer {
  width: 100%;
  margin-bottom: 50px;
}

.footer .footer-top {
  width: 100%;
  height: 120px;
  border-top: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-top .center-wrapper, .footer .footer-top .project-heading, .footer .footer-top .projects-p-container, .footer .footer-top .contact-form-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.footer .footer-top .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer .footer-top .social-links a {
  width: 25px;
  height: 25px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-top .social-links a img {
  width: 100%;
  height: 100%;
}

.footer .center-wrapper, .footer .project-heading, .footer .projects-p-container, .footer .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  margin-top: 80px;
}

.footer .center-wrapper .footer-column, .footer .project-heading .footer-column, .footer .projects-p-container .footer-column, .footer .contact-form-container .footer-column {
  width: 100%;
  margin-right: 5%;
}

.footer .center-wrapper .footer-column h6, .footer .project-heading .footer-column h6, .footer .projects-p-container .footer-column h6, .footer .contact-form-container .footer-column h6 {
  font-weight: 700;
}

.footer .center-wrapper .footer-column ul, .footer .project-heading .footer-column ul, .footer .projects-p-container .footer-column ul, .footer .contact-form-container .footer-column ul {
  margin-top: 30px;
}

.footer .center-wrapper .footer-column ul li, .footer .project-heading .footer-column ul li, .footer .projects-p-container .footer-column ul li, .footer .contact-form-container .footer-column ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer .center-wrapper .footer-column ul li a, .footer .project-heading .footer-column ul li a, .footer .projects-p-container .footer-column ul li a, .footer .contact-form-container .footer-column ul li a,
.footer .center-wrapper .footer-column ul li button,
.footer .project-heading .footer-column ul li button,
.footer .projects-p-container .footer-column ul li button,
.footer .contact-form-container .footer-column ul li button,
.footer .center-wrapper .footer-column ul li p,
.footer .project-heading .footer-column ul li p,
.footer .projects-p-container .footer-column ul li p,
.footer .contact-form-container .footer-column ul li p {
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: #2d3142;
  cursor: pointer;
  font-weight: 300;
}


.footer .center-wrapper .footer-column ul li p,
.footer .project-heading .footer-column ul li p,
.footer .projects-p-container .footer-column ul li p,
.footer .contact-form-container .footer-column ul li p {
  color: #8e919c;
  font-weight: 300;
  font-size: 0.8rem;
  cursor: default;
}

.footer .center-wrapper .footer-column ul li a:hover, .footer .project-heading .footer-column ul li a:hover, .footer .projects-p-container .footer-column ul li a:hover, .footer .contact-form-container .footer-column ul li a:hover {
  color: #008bf8;
}

.footer .center-wrapper .footer-column ul li button:hover, .footer .project-heading .footer-column ul li button:hover, .footer .projects-p-container .footer-column ul li button:hover, .footer .contact-form-container .footer-column ul li button:hover {
  color: #57e290;
}

.footer .center-wrapper .footer-column ul .p-li, .footer .project-heading .footer-column ul .p-li, .footer .projects-p-container .footer-column ul .p-li, .footer .contact-form-container .footer-column ul .p-li {
  margin: 0;
}

@media (max-width: 610px) {
  .footer .footer-top .center-wrapper, .footer .footer-top .project-heading, .footer .footer-top .projects-p-container, .footer .footer-top .contact-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .center-wrapper, .footer .project-heading, .footer .projects-p-container, .footer .contact-form-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer .center-wrapper .footer-column, .footer .project-heading .footer-column, .footer .projects-p-container .footer-column, .footer .contact-form-container .footer-column {
    margin-right: 0;
  }
  .footer .center-wrapper #contact-column, .footer .project-heading #contact-column, .footer .projects-p-container #contact-column, .footer .contact-form-container #contact-column {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .center-wrapper #contact-column h6, .footer .project-heading #contact-column h6, .footer .projects-p-container #contact-column h6, .footer .contact-form-container #contact-column h6 {
    display: none;
  }
  .footer .center-wrapper #contact-column ul li, .footer .project-heading #contact-column ul li, .footer .projects-p-container #contact-column ul li, .footer .contact-form-container #contact-column ul li {
    text-align: center;
  }
  .footer .center-wrapper #contact-column ul #form-link, .footer .project-heading #contact-column ul #form-link, .footer .projects-p-container #contact-column ul #form-link, .footer .contact-form-container #contact-column ul #form-link {
    display: none;
  }
}

@media (min-width: 611px) and (max-width: 880px) {
  .footer .footer-top .center-wrapper, .footer .footer-top .project-heading, .footer .footer-top .projects-p-container, .footer .footer-top .contact-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .center-wrapper, .footer .project-heading, .footer .projects-p-container, .footer .contact-form-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.heading-wrapper, .contact-heading {
  width: 1100px;
  height: 100%;
  padding: 0 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title-wrapper,
.home-title {
  margin: 100px 0;
  margin-bottom: 250px;
  width: 55%;
}

.title-wrapper .flex-row,
.home-title .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title-wrapper .flex-row .push-right,
.home-title .flex-row .push-right {
  margin-left: auto;
}

.title-wrapper .flex-row .page-subHeading,
.home-title .flex-row .page-subHeading {
  cursor: default;
}

.title-wrapper .flex-row .page-subHeading:hover,
.home-title .flex-row .page-subHeading:hover {
  color: #008bf8;
}

.title-wrapper .flex-col,
.home-title .flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-wrapper .heading-spacing,
.home-title .heading-spacing {
  margin-top: 2rem;
}

.work-title-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: -100px;
}

.page-title {
  margin-bottom: 30px;
}

.page-subHeading,
.page-emHeading {
  font-family: "Overpass", sans-serif;
  font-weight: 500;
}

.page-emHeading {
  font-weight: 300;
}

.page-emHeading a {
  font-size: 1.3rem;
  font-weight: 300;
  color: #008bf8;
  text-decoration: none;
}

.page-emHeading a:hover {
  border-bottom: #008bf8 2px solid;
}

.title-wrapper {
  width: 40%;
}

.contact-heading {
  margin: 100px auto;
  margin-bottom: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-heading .page-emHeading {
  width: 60%;
  text-align: center;
  margin-top: -10px;
}

.contact-heading .details-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.contact-heading .details-wrapper .border-right {
  border-right: 2px #e0e0e0 solid;
}

.contact-heading .details-wrapper .contact-detail {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10%;
  position: relative;
}

.contact-heading .details-wrapper .contact-detail .small-p {
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  color: #595d6e;
  margin-bottom: 5px;
}

.contact-heading .details-wrapper .contact-detail .detail-p {
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-heading .details-wrapper .contact-detail .detail-p:hover {
  color: #008bf8;
}

.contact-heading .details-wrapper .contact-detail button {
  background: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-heading .details-wrapper .copy-popup {
  margin-top: 2px;
  margin-left: 15px;
  width: 20px;
  height: 20px;
}

.contact-heading .details-wrapper .copy-popup img {
  width: 20px;
  height: 20px;
}

.contact-heading .anchor-link {
  margin-top: 60px;
}

@media (max-width: 460px) {
  .contact-heading {
    width: 100%;
    margin-bottom: 200px;
    margin-top: 60px;
  }
  .contact-heading .page-title {
    text-align: left;
    width: 100%;
  }
  .contact-heading .page-emHeading {
    width: 100%;
    text-align: left;
  }
  .contact-heading .details-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-heading .details-wrapper .contact-detail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 0;
  }
  .contact-heading .details-wrapper .border-right {
    border: none;
  }
  .contact-heading .anchor-link {
    margin-top: 50px;
  }
}

@media (min-width: 461px) and (max-width: 700px) {
  .contact-heading {
    width: 100%;
  }
  .contact-heading .page-emHeading {
    width: 80%;
  }
  .contact-heading .details-wrapper {
    width: 80%;
  }
  .contact-heading .details-wrapper .copy-popup {
    display: none;
    opacity: 0;
  }
}

@media (max-width: 680px) {
  .heading-wrapper, .contact-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .home-title,
  .title-wrapper {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 60px;
  }
  .home-title .page-title,
  .title-wrapper .page-title {
    margin-bottom: 50px;
  }
  .work-title-btn {
    margin: 50px 0;
    margin-bottom: 30px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1150px) {
  .heading-wrapper, .contact-heading {
    width: 100%;
  }
}

.works-navigation {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.works-navigation .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-navigation .btn-list li {
  list-style-type: none;
  margin: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-navigation .btn-list li button {
  background: none;
  border: none;
  outline: none;
  font-family: "Overpass", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #595d6e;
  cursor: pointer;
}

.works-navigation .btn-list li .shape-wrapper {
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 4px;
}

.works-navigation .btn-list li .shape-wrapper img {
  width: 100%;
}

.works-navigation .btn-list li .shape-wrapper .smaller-shape {
  width: 80%;
}

.works-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
}

.works-grid .grid-item {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.works-grid .grid-item a {
  width: 90%;
  height: 90%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  overflow: hidden;
}

.works-grid .grid-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works-grid .grid-item a:hover {
  width: 95%;
  height: 95%;
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.works-grid .grid-item-w-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
}

.works-grid .grid-item-w-info a {
  text-decoration: none;
}

.works-grid .grid-item-w-info img {
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 5px;
}

.works-grid .grid-item-w-info .works-title {
  width: 100%;
}

.works-grid .grid-item-w-info .works-title h6 {
  text-decoration: none;
}

.works-grid .grid-item-w-info .works-title p {
  font-size: 0.9rem;
  color: #595d6e;
  text-decoration: none;
}

.works-grid .grid-item-w-info:hover img {
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.works-grid .work-empty-state {
  background-color: #ffffff;
  border: #e0e0e0 1px solid;
  width: 90%;
  height: 90%;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.works-grid .work-empty-state h4 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Cabin", sans-serif;
  font-size: 1.2rem;
  color: #2d3142;
  margin: 15px 0;
}

.works-grid .work-empty-state p {
  font-size: 1rem;
  width: 90%;
  margin: 0 auto;
  color: #2d3142;
}

.works-grid .work-empty-state a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  height: auto;
  margin: 25px auto;
}

.works-grid .work-empty-state a:hover {
  width: 60%;
  height: auto;
}

.project-heading {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.project-heading h2 {
  margin-top: 60px;
  margin-right: auto;
  margin-left: 15%;
}

.project-heading h3 {
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  margin: 10px auto;
  margin-bottom: 25px;
  margin-left: 15%;
}

.project-heading .photo-wrapper {
  width: 70%;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  margin: 0 auto;
}

.project-heading .links-wrapper {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-heading .links-wrapper a {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 20px;
  position: relative;
}

.project-heading .links-wrapper a img {
  width: 100%;
  opacity: 0.5;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.project-heading .links-wrapper a:hover img {
  opacity: 1;
}

.project-heading .links-wrapper .hover-link {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #008bf8;
}

.project-heading .links-wrapper .hover-link p {
  font-size: 1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

.projects-p-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px auto;
}

.projects-p-container p {
  font-family: "Overpass", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 30px 20%;
  margin-top: 0;
  color: #2d3142;
}

.projects-p-container h4 {
  font-family: "Cabin", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: #2d3142;
  margin: 30px auto;
  margin-bottom: 60px;
  margin-left: 20%;
}

.projects-p-container .page-img {
  width: 60%;
  margin: 10px auto;
  margin-bottom: 40px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.projects-p-container .anchor-link {
  margin: 20px auto;
}

.technology-used {
  width: 100%;
  height: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.technology-used .tech-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: 80%;
  margin: 0 20%;
  text-align: left;
}

.technology-used .tech-grid p {
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  .works-grid {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .works-grid .grid-item {
    height: 200px;
  }
  .works-grid .grid-item-w-info {
    margin: 2% 5%;
  }
  .works-grid .work-empty-state p {
    display: none;
  }
  .works-grid .work-empty-state a {
    width: 90%;
  }
  .works-grid .work-empty-state a:hover {
    width: 90%;
    height: auto;
  }
  .project-heading h2 {
    margin-left: 0;
  }
  .project-heading h3 {
    margin-left: 0;
  }
  .project-heading .photo-wrapper {
    width: 100%;
    margin-top: 15px;
  }
  .projects-p-container {
    margin-top: 20px;
  }
  .projects-p-container p {
    margin: 0 5%;
    margin-bottom: 40px;
  }
  .projects-p-container h4 {
    margin: 40px auto;
    margin-left: 5%;
    margin-top: 0;
  }
  .projects-p-container .page-img {
    width: 90%;
  }
  .technology-used .tech-grid {
    margin: 0 5%;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .works-grid {
    width: 90%;
  }
  .works-grid .grid-item {
    height: 200px;
  }
  .works-grid .work-empty-state p {
    display: none;
  }
  .works-grid .work-empty-state a {
    width: 95%;
  }
  .works-grid .work-empty-state a:hover {
    width: 95%;
    height: auto;
  }
  .project-heading h2 {
    margin-left: 0;
  }
  .project-heading h3 {
    margin-left: 0;
  }
  .project-heading .photo-wrapper {
    width: 100%;
    margin-top: 15px;
  }
  .projects-p-container {
    margin-top: 20px;
  }
  .projects-p-container p {
    margin: 0 5%;
    margin-bottom: 40px;
  }
  .projects-p-container h4 {
    margin: 40px auto;
    margin-left: 5%;
    margin-top: 0;
  }
  .projects-p-container .page-img {
    width: 90%;
  }
  .technology-used .tech-grid {
    margin: 0 5%;
  }
}

@media (min-width: 641px) and (max-width: 850px) {
  .works-grid {
    width: 620px;
  }
  .works-grid .grid-item {
    height: 220px;
  }
  .works-grid .work-empty-state p {
    display: none;
  }
  .works-grid .work-empty-state a {
    width: 100%;
  }
  .works-grid .work-empty-state a:hover {
    width: 100%;
    height: auto;
  }
}

#contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800px;
  margin-bottom: 100px;
  overflow: visible;
}

#contact-wrapper .left-wrapper {
  width: 50%;
  margin-right: auto;
  padding-right: 20px;
  margin-bottom: auto;
}

#contact-wrapper .left-wrapper .information p {
  margin-top: 5px;
  font-size: 0.9rem;
}

#contact-wrapper .left-wrapper .details {
  width: 100%;
}

#contact-wrapper .left-wrapper .details .detail {
  width: 100%;
  height: 70px;
  border: #e0e0e0 1px solid;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact-wrapper .left-wrapper .details .detail span .detail-heading {
  font-family: "Cabin", sans-serif;
  font-size: 0.8rem;
  color: #595d6e;
}

#contact-wrapper .left-wrapper .details .detail span .detail-p {
  font-size: 1rem;
  color: #2d3142;
}

#contact-wrapper .left-wrapper .details .detail .copy-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: 5px;
}

#contact-wrapper .left-wrapper .details .detail .copy-btn img {
  width: 100%;
}

#contact-wrapper .left-wrapper .details .detail:hover {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper .left-wrapper .details .detail-copied {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper .mobile-form-title {
  margin: 30px 0;
  display: none;
}

form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
  margin-bottom: auto;
  padding-left: 20px;
  overflow: visible;
}

form .input-wrapper {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .input-wrapper label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 10px;
  margin-bottom: 8px;
  -webkit-appearance: none;
}

form .input-wrapper .input-error {
  border: 1px #ff2f14 solid;
}

form .input-wrapper input,
form .input-wrapper textarea {
  border: 1px #e0e0e0 solid;
  border-radius: 3px;
  outline: none;
  padding: 5px 10px;
  color: #2d3142;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-appearance: none;
}

form .input-wrapper input::-webkit-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input:-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input::-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input::placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input:focus {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

form .input-wrapper textarea {
  resize: none;
  height: 150px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

form .input-wrapper textarea::-webkit-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea:-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea::-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea::placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea:focus {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

form input[type="submit"] {
  margin-left: auto;
  margin-top: 5px;
  -webkit-appearance: none;
}

form input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

form .input-error {
  border: 2px #ff2f14 solid;
  width: 100%;
  height: 30px;
}

form .input-error p {
  color: #2d3142;
  font-size: 1rem;
  font-weight: 500;
}

form .error-message {
  color: #ff2f14;
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 5px;
  margin-left: 10px;
}

.form-success {
  width: 50%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
}

.form-success .success-p {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Overpass", sans-serif;
  margin-bottom: 40px;
  color: #2d3142;
}

.copied-alert {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
  margin-bottom: -30px;
}

.copied-alert p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #595d6e;
  margin-right: 10px;
}

.copied-alert img {
  width: 10px;
}

.contact-form-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form-container .form-title {
  width: 50%;
  margin: 0 auto;
}

.contact-form-container .form-title p {
  font-size: 1rem;
  font-weight: 400;
  color: #595d6e;
  margin: 10px 0;
}

.contact-form-container form {
  margin: 25px auto;
  margin-bottom: 150px;
  padding: 0;
}

@media (max-width: 390px) {
  #contact-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-wrapper .left-wrapper,
  #contact-wrapper form {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  #contact-wrapper .mobile-form-title {
    display: block;
  }
  .contact-form-container .form-title,
  .contact-form-container form,
  .contact-form-container .form-success {
    width: 90%;
  }
}

@media (min-width: 391px) and (max-width: 600px) {
  #contact-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-wrapper .left-wrapper,
  #contact-wrapper form {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  #contact-wrapper .mobile-form-title {
    display: block;
  }
  .contact-form-container .form-title,
  .contact-form-container form,
  .contact-form-container .form-success {
    width: 100%;
    padding: 0 10px;
  }
}

@media (min-width: 601px) and (max-width: 730px) {
  #contact-wrapper {
    width: 100%;
  }
  .contact-form-container .form-title,
  .contact-form-container form,
  .contact-form-container .form-success {
    width: 70%;
  }
}

@media (min-width: 730px) and (max-width: 850px) {
  #contact-wrapper {
    width: 90%;
  }
}

.banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px auto;
  margin-bottom: 150px;
  width: 800px;
  padding: 10px 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner-wrapper .banner-info {
  width: 50%;
}

.banner-wrapper .banner-info h4 {
  margin-bottom: 10px;
}

.banner-wrapper .banner-info p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #2d3142;
  margin-bottom: 25px;
}

.banner-wrapper .banner-info a {
  font-size: 0.9rem;
}

.banner-wrapper .banner-info a:hover {
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.banner-wrapper .banner-image {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 100px;
}

.banner-wrapper .banner-image img {
  width: 100%;
}

@media (max-width: 480px) {
  .banner-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .banner-wrapper .banner-info {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-wrapper .banner-info h4 {
    margin-bottom: 20px;
  }
  .banner-wrapper .banner-info a {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  .banner-wrapper .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.2;
    display: none;
  }
  .banner-wrapper .banner-image img {
    height: 100%;
    width: auto;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .banner-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .banner-wrapper .banner-info {
    width: 75%;
    position: relative;
    z-index: 1;
  }
  .banner-wrapper .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.2;
  }
  .banner-wrapper .banner-image img {
    height: 100%;
    width: auto;
  }
}

@media (min-width: 641px) and (max-width: 850px) {
  .banner-wrapper {
    width: 620px;
  }
  .banner-wrapper .banner-image {
    margin-left: 50px;
  }
}

.head-image-wrapper {
  width: 40%;
  position: relative;
  margin-left: auto;
}

.head-image-wrapper .work-image {
  position: absolute;
  width: 700px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  z-index: 1;
  top: 45%;
  left: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #ffffff;
}

.head-image-wrapper .background-square {
  width: 300px;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  bottom: 10%;
}

.head-image-wrapper-full {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 5%;
}

.head-image-wrapper-full .work-image {
  position: absolute;
  width: 700px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  z-index: 1;
  top: 45%;
  left: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: #ffffff;
}

.head-image-wrapper-full .me-image {
  width: 350px;
  margin-left: auto;
  margin-top: -50px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

.head-image-wrapper-full .background-square {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 300px;
  z-index: 0;
}

@media (max-width: 680px) {
  .head-image-wrapper,
  .head-image-wrapper-full {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .head-image-wrapper .work-image,
  .head-image-wrapper-full .work-image {
    width: 100%;
    position: relative;
    margin: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 0;
    left: 0;
  }
  .head-image-wrapper .background-square,
  .head-image-wrapper-full .background-square {
    width: 50%;
    bottom: -10%;
    left: -5%;
    position: absolute;
  }
  .head-image-wrapper .me-image,
  .head-image-wrapper-full .me-image {
    width: 70%;
    margin: 0 auto;
    margin-top: -25px;
  }
  .head-image-wrapper-full .background-square {
    display: none;
  }
}

@media (min-width: 680px) and (max-width: 850px) {
  .head-image-wrapper {
    padding: 0;
  }
  .head-image-wrapper .work-image {
    width: 550px;
  }
  .head-image-wrapper .background-square {
    width: 200px;
    bottom: 20%;
    left: -5%;
  }
  .head-image-wrapper-full .me-image {
    width: 100%;
    margin: 0;
    margin-top: -35%;
  }
  .head-image-wrapper-full .background-square {
    display: none;
  }
}

.cv-modal {
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 3px;
  background-color: #008bf8;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  cursor: default;
  z-index: 10;
}

.cv-modal p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.cv-modal p a {
  font-style: italic;
  font-weight: 200;
  margin-right: 15px;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

.cv-modal p a:hover {
  border-bottom: 1px #ffffff solid;
}

.cv-modal .close-modal-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 8px;
  width: 10px;
  height: 10px;
  background: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.cv-modal .close-modal-btn img {
  width: 100%;
}

@media (max-width: 410px) {
  .cv-modal {
    width: 90%;
  }
}

@media (min-width: 411px) and (max-width: 530px) {
  .cv-modal {
    width: 80%;
  }
}

@media (min-width: 531px) and (max-width: 630px) {
  .cv-modal {
    width: 60%;
  }
}

.bio-container {
  width: 800px;
  margin: 0 auto;
  padding: 10px 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bio-container p {
  font-size: 1.1rem;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  margin: 30px auto;
  color: #2d3142;
}

.bio-container .map {
  width: 100%;
  border-radius: 3px;
  margin: 0 auto;
  margin: 30px 0;
}

.photographyImg {
  width: 100%;
}

.gallery-grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin: 30px 0;
}

.gallery-grid span {
  width: 100%;
  height: 100%;
}

.gallery-grid span img {
  width: 100%;
  height: 100%;
}

.gallery-grid .stretch {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 640px) {
  .bio-container {
    width: 90%;
  }
  .gallery-grid {
    gap: 2% 4%;
  }
}

@media (min-width: 641px) and (max-width: 850px) {
  .bio-container {
    width: 620px;
  }
}

.background-rect {
  width: 450px;
  position: absolute;
  left: -280px;
  top: calc(100vh + 200px);
  z-index: 0;
  display: none;
}

.background-rect img {
  width: 100%;
}

#skills {
  margin-top: 50px;
}

#skills .sub-heading {
  text-align: center;
  margin: 0 auto;
}

#skills .skills-table {
  border-top: 1px #e0e0e0 solid;
  margin-top: 15px;
}

#skills .skills-table p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #2d3142;
  font-weight: "Overpass", sans-serif;
}

#skills .skills-table li {
  list-style-type: none;
  border-bottom: 1px #e0e0e0 solid;
  padding: 15px 0;
  overflow: hidden;
}

#skills .skills-table li .list-top {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#skills .skills-table li .list-top .skill-category {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: "Cabin", sans-serif;
}

#skills .skills-table li .list-top .push-right {
  margin-left: auto;
  color: #008bf8;
}

#skills .skills-table li .list-top button {
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 0 15px;
}

#skills .skills-table li .list-top button img {
  width: 80%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#skills .skills-table li .list-top button .up-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#skills .skills-table li .list-top button .down-arrow {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#skills .skills-table li .list-bottom {
  height: 0;
  min-height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

#skills .skills-table li .increase-height {
  min-height: 20px;
  margin: 15px 0;
  margin-top: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#skills .skills-table li .category-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#skills .skills-table li .category-grid li {
  border: none;
  padding: 0;
}

#skills .skills-table li .category-grid li p {
  cursor: default;
}

#skills .skills-table li .category-grid li p:hover {
  color: #008bf8;
}

.not-found {
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.not-found h2 {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Cabin", sans-serif;
  margin-bottom: 15px;
  text-align: center;
}

.not-found .not-found-p {
  font-size: 1.1rem;
  font-weight: 400;
  width: 60%;
  text-align: center;
  margin-bottom: 25px;
}

@media (max-width: 460px) {
  .not-found .not-found-p {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */