.page-title {
  font-size: 3rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

html body .sub-heading, .app-header .center-wrapper .logo-wrapper .logo, .app-header .contact-form-container .logo-wrapper .logo, .footer .footer-top .credit h6, .page-subHeading,
.page-emHeading, #contact-wrapper .mobile-form-title, .contact-form-container .form-title h3, .banner-wrapper .banner-info h4 {
  font-size: 1.3rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

.footer .center-wrapper .footer-column h6, .footer .contact-form-container .footer-column h6, .works-grid .grid-item-w-info .works-title h6, form .input-wrapper label {
  font-size: 1rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

.footer .footer-top .credit p, .footer .center-wrapper .footer-column ul li a, .footer .contact-form-container .footer-column ul li a,
.footer .center-wrapper .footer-column ul li button,
.footer .contact-form-container .footer-column ul li button,
.footer .center-wrapper .footer-column ul li p,
.footer .contact-form-container .footer-column ul li p {
  font-size: 1rem;
  font-weight: 500;
  color: #8e919c;
  font-family: "Overpass", sans-serif;
}

#contact-wrapper .left-wrapper .information p {
  font-size: 1rem;
  font-weight: 400;
  color: #2d3142;
  font-family: "Overpass", sans-serif;
}

.contact-heading .link-to-form, .banner-wrapper .banner-info a {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #008bf8;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

form input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #ffa114;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 30px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Overpass", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

html body .center-wrapper, html body .contact-form-container {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 850px) {
  * {
    font-size: 16px;
  }
}

@media (max-width: 1150px) {
  html body .center-wrapper, html body .contact-form-container {
    width: 100%;
    padding: 0 5%;
  }
}

.app-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #e0e0e0 1px solid;
  height: 70px;
}

.app-header .center-wrapper, .app-header .contact-form-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-header .center-wrapper nav, .app-header .contact-form-container nav {
  margin-left: auto;
}

.app-header .center-wrapper nav ul, .app-header .contact-form-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-header .center-wrapper nav ul li, .app-header .contact-form-container nav ul li {
  margin-left: 25px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
}

.app-header .center-wrapper nav ul li .active span img, .app-header .contact-form-container nav ul li .active span img {
  display: block;
}

.app-header .center-wrapper nav ul li .active #circle, .app-header .contact-form-container nav ul li .active #circle {
  display: block;
}

.app-header .center-wrapper nav ul li a, .app-header .contact-form-container nav ul li a {
  text-decoration: none;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
}

.app-header .center-wrapper nav ul li .link-icon, .app-header .contact-form-container nav ul li .link-icon {
  width: 11px;
  height: 11px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: visible;
}

.app-header .center-wrapper nav ul li .link-icon img, .app-header .contact-form-container nav ul li .link-icon img {
  width: 100%;
  height: 100%;
  display: none;
}

.app-header .center-wrapper nav ul li .link-icon #hexagon, .app-header .contact-form-container nav ul li .link-icon #hexagon {
  width: 92%;
  height: 82%;
}

.app-header .center-wrapper nav ul li .link-icon #circle, .app-header .contact-form-container nav ul li .link-icon #circle {
  width: 80%;
  height: 80%;
  display: none;
}

.app-header .center-wrapper nav ul li .link-icon #square, .app-header .contact-form-container nav ul li .link-icon #square {
  width: 80%;
  height: 80%;
}

.app-header .center-wrapper nav ul li #circle, .app-header .contact-form-container nav ul li #circle {
  background-color: #2d3142;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  margin-top: 6px;
}

.app-header .center-wrapper nav ul #contact-link, .app-header .contact-form-container nav ul #contact-link {
  margin-left: 50px;
}

.footer {
  width: 100%;
  margin-bottom: 50px;
}

.footer .footer-top {
  width: 100%;
  height: 120px;
  border-top: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-top .center-wrapper, .footer .footer-top .contact-form-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
}

.footer .footer-top .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer .footer-top .social-links a {
  width: 25px;
  height: 25px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-top .social-links a img {
  width: 100%;
  height: 100%;
}

.footer .center-wrapper, .footer .contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  margin-top: 80px;
}

.footer .center-wrapper .footer-column, .footer .contact-form-container .footer-column {
  width: 100%;
  margin-right: 5%;
}

.footer .center-wrapper .footer-column h6, .footer .contact-form-container .footer-column h6 {
  font-weight: 700;
}

.footer .center-wrapper .footer-column ul, .footer .contact-form-container .footer-column ul {
  margin-top: 30px;
}

.footer .center-wrapper .footer-column ul li, .footer .contact-form-container .footer-column ul li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer .center-wrapper .footer-column ul li a, .footer .contact-form-container .footer-column ul li a,
.footer .center-wrapper .footer-column ul li button,
.footer .contact-form-container .footer-column ul li button,
.footer .center-wrapper .footer-column ul li p,
.footer .contact-form-container .footer-column ul li p {
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: #2d3142;
  cursor: pointer;
  font-weight: 300;
}


.footer .center-wrapper .footer-column ul li p,
.footer .contact-form-container .footer-column ul li p {
  color: #8e919c;
  font-weight: 300;
  font-size: 0.8rem;
  cursor: default;
}

.footer .center-wrapper .footer-column ul li a:hover, .footer .contact-form-container .footer-column ul li a:hover {
  color: #008bf8;
}

.footer .center-wrapper .footer-column ul li button:hover, .footer .contact-form-container .footer-column ul li button:hover {
  color: #57e290;
}

.footer .center-wrapper .footer-column ul .p-li, .footer .contact-form-container .footer-column ul .p-li {
  margin: 0;
}

@media (max-width: 610px) {
  .footer .footer-top .center-wrapper, .footer .footer-top .contact-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .center-wrapper, .footer .contact-form-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .footer .center-wrapper .footer-column, .footer .contact-form-container .footer-column {
    margin-right: 0;
  }
  .footer .center-wrapper #contact-column, .footer .contact-form-container #contact-column {
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer .center-wrapper #contact-column h6, .footer .contact-form-container #contact-column h6 {
    display: none;
  }
  .footer .center-wrapper #contact-column ul li, .footer .contact-form-container #contact-column ul li {
    text-align: center;
  }
  .footer .center-wrapper #contact-column ul #form-link, .footer .contact-form-container #contact-column ul #form-link {
    display: none;
  }
}

@media (min-width: 611px) and (max-width: 880px) {
  .footer .footer-top .center-wrapper, .footer .footer-top .contact-form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .center-wrapper, .footer .contact-form-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.heading-wrapper, .contact-heading {
  width: 1100px;
  height: 100%;
  padding: 0 5%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title-wrapper,
.home-title {
  margin: 100px 0;
  margin-bottom: 250px;
  width: 55%;
}

.title-wrapper .flex-row,
.home-title .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title-wrapper .flex-row a,
.home-title .flex-row a {
  text-decoration: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 20px;
  position: relative;
}

.title-wrapper .flex-row a p,
.home-title .flex-row a p {
  position: relative;
  z-index: 2;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin: 0;
}

.title-wrapper .flex-row a .link-bg,
.home-title .flex-row a .link-bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0%;
  width: 0%;
  height: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
  background-color: #ffa114;
  overflow: hidden;
  border-radius: 0px;
}

.title-wrapper .flex-row a:hover,
.home-title .flex-row a:hover {
  background-color: none;
}

.title-wrapper .flex-row a:hover .link-bg,
.home-title .flex-row a:hover .link-bg {
  min-width: 100%;
}

.title-wrapper .flex-row a:hover p,
.home-title .flex-row a:hover p {
  color: #ffffff;
}

.title-wrapper .flex-row .page-emHeading,
.home-title .flex-row .page-emHeading {
  margin-left: auto;
}

.title-wrapper .flex-col,
.home-title .flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-wrapper .heading-spacing,
.home-title .heading-spacing {
  margin-top: 2rem;
}

.page-title {
  margin-bottom: 30px;
}

.page-subHeading,
.page-emHeading {
  font-family: "Overpass", sans-serif;
  font-weight: 500;
}

.page-emHeading {
  font-weight: 300;
}

.page-emHeading a {
  font-size: 1.3rem;
  font-weight: 300;
  color: #008bf8;
  text-decoration: none;
}

.page-emHeading a:hover {
  border-bottom: #008bf8 2px solid;
}

.title-wrapper {
  width: 40%;
}

.contact-heading {
  margin: 100px auto;
  margin-bottom: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-heading .page-emHeading {
  width: 60%;
  text-align: center;
  margin-top: -10px;
}

.contact-heading .details-wrapper {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.contact-heading .details-wrapper .border-right {
  border-right: 2px #e0e0e0 solid;
}

.contact-heading .details-wrapper .contact-detail {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10%;
  position: relative;
}

.contact-heading .details-wrapper .contact-detail .small-p {
  font-family: "Cabin", sans-serif;
  font-size: 0.9rem;
  color: #595d6e;
  margin-bottom: 5px;
}

.contact-heading .details-wrapper .contact-detail .detail-p {
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.contact-heading .details-wrapper .contact-detail .detail-p:hover {
  color: #008bf8;
}

.contact-heading .details-wrapper .border-right .detail-p:hover {
  color: #ffa114;
}

.contact-heading .details-wrapper .copy-popup {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  bottom: -50px;
  padding: 5px 15px;
  color: #008bf8;
  border-radius: 3px;
  display: none;
}

.contact-heading .link-to-form {
  margin-top: 60px;
  border: 2px #008bf8 solid;
  position: relative;
}

.contact-heading .link-to-form p {
  position: relative;
  z-index: 1;
}

.contact-heading .link-to-form .btn-bg {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  min-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contact-heading .link-to-form:hover {
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

.contact-heading .link-to-form:hover p {
  color: #008bf8;
}

.contact-heading .link-to-form:hover .btn-bg {
  min-height: 100%;
}

@media (max-width: 680px) {
  .heading-wrapper, .contact-heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .home-title,
  .title-wrapper {
    width: 100%;
    margin-bottom: 80px;
  }
  .home-title .page-title,
  .title-wrapper .page-title {
    margin-bottom: 50px;
  }
  .home-title .flex-row a,
  .title-wrapper .flex-row a {
    border-bottom: #ffa114 2px solid;
    margin-bottom: -2px;
  }
  .title-wrapper {
    width: 90%;
  }
  .title-wrapper .page-title {
    margin-bottom: 25px;
  }
}

@media (max-width: 1150px) {
  .heading-wrapper, .contact-heading {
    width: 100%;
  }
}

.works-navigation {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  margin-top: 100px;
}

.works-navigation .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-navigation .btn-list li {
  list-style-type: none;
  margin: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-navigation .btn-list li button {
  background: none;
  border: none;
  outline: none;
  font-family: "Overpass", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #595d6e;
  cursor: pointer;
}

.works-navigation .btn-list li .shape-wrapper {
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 4px;
}

.works-navigation .btn-list li .shape-wrapper img {
  width: 100%;
}

.works-navigation .btn-list li .shape-wrapper .smaller-shape {
  width: 80%;
}

.works-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.works-grid .grid-item {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.works-grid .grid-item a {
  width: 90%;
  height: 90%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  overflow: hidden;
}

.works-grid .grid-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works-grid .grid-item a:hover {
  width: 95%;
  height: 95%;
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.works-grid .grid-item-w-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5%;
}

.works-grid .grid-item-w-info a {
  text-decoration: none;
}

.works-grid .grid-item-w-info img {
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  border-radius: 3px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 5px;
}

.works-grid .grid-item-w-info .works-title {
  width: 100%;
}

.works-grid .grid-item-w-info .works-title h6 {
  text-decoration: none;
}

.works-grid .grid-item-w-info .works-title p {
  font-size: 0.9rem;
  color: #595d6e;
  text-decoration: none;
}

.works-grid .grid-item-w-info:hover img {
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

@media (max-width: 480px) {
  .works-grid {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .works-grid .grid-item {
    height: 200px;
  }
  .works-grid .grid-item-w-info {
    margin: 2% 5%;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .works-grid {
    width: 90%;
  }
  .works-grid .grid-item {
    height: 200px;
  }
}

@media (min-width: 641px) and (max-width: 850px) {
  .works-grid {
    width: 620px;
  }
  .works-grid .grid-item {
    height: 220px;
  }
}

#contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800px;
  margin-bottom: 100px;
  overflow: visible;
}

#contact-wrapper .left-wrapper {
  width: 50%;
  margin-right: auto;
  padding-right: 20px;
  margin-bottom: auto;
}

#contact-wrapper .left-wrapper .information p {
  margin-top: 5px;
  font-size: 0.9rem;
}

#contact-wrapper .left-wrapper .details {
  width: 100%;
}

#contact-wrapper .left-wrapper .details .detail {
  width: 100%;
  height: 70px;
  border: #e0e0e0 1px solid;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact-wrapper .left-wrapper .details .detail span .detail-heading {
  font-family: "Cabin", sans-serif;
  font-size: 0.8rem;
  color: #595d6e;
}

#contact-wrapper .left-wrapper .details .detail span .detail-p {
  font-size: 1rem;
  color: #2d3142;
}

#contact-wrapper .left-wrapper .details .detail .copy-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: 5px;
}

#contact-wrapper .left-wrapper .details .detail .copy-btn img {
  width: 100%;
}

#contact-wrapper .left-wrapper .details .detail:hover {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper .left-wrapper .details .detail-copied {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper .mobile-form-title {
  margin: 30px 0;
  display: none;
}

form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
  margin-bottom: auto;
  padding-left: 20px;
  overflow: visible;
}

form .input-wrapper {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .input-wrapper label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 10px;
  margin-bottom: 8px;
}

form .input-wrapper input,
form .input-wrapper textarea {
  border: 1px #e0e0e0 solid;
  border-radius: 3px;
  outline: none;
  padding: 5px 10px;
  color: #2d3142;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

form .input-wrapper input::-webkit-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input:-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input::-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input::placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper input:focus {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

form .input-wrapper textarea {
  resize: none;
  height: 150px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

form .input-wrapper textarea::-webkit-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea:-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea::-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea::placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

form .input-wrapper textarea:focus {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

form input[type="submit"] {
  margin-left: auto;
  margin-top: 5px;
}

form input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.copied-alert {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
  margin-bottom: -30px;
}

.copied-alert p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #595d6e;
  margin-right: 10px;
}

.copied-alert img {
  width: 10px;
}

.contact-form-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form-container .form-title {
  width: 50%;
  margin: 0 auto;
}

.contact-form-container .form-title p {
  font-size: 1rem;
  font-weight: 400;
  color: #595d6e;
  margin: 10px 0;
}

.contact-form-container form {
  margin: 25px auto;
  margin-bottom: 150px;
  padding: 0;
}

@media (max-width: 390px) {
  #contact-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-wrapper .left-wrapper,
  #contact-wrapper form {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  #contact-wrapper .mobile-form-title {
    display: block;
  }
}

@media (min-width: 391px) and (max-width: 600px) {
  #contact-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-wrapper .left-wrapper,
  #contact-wrapper form {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  #contact-wrapper .mobile-form-title {
    display: block;
  }
}

@media (min-width: 601px) and (max-width: 730px) {
  #contact-wrapper {
    width: 100%;
  }
}

@media (min-width: 730px) and (max-width: 850px) {
  #contact-wrapper {
    width: 90%;
  }
}

.banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 100px auto;
  margin-bottom: 150px;
  width: 800px;
  padding: 10px 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.banner-wrapper .banner-info {
  width: 50%;
}

.banner-wrapper .banner-info h4 {
  margin-bottom: 10px;
}

.banner-wrapper .banner-info p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #2d3142;
  margin-bottom: 25px;
}

.banner-wrapper .banner-info a {
  font-size: 0.9rem;
}

.banner-wrapper .banner-info a:hover {
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.banner-wrapper .banner-image {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 100px;
}

.banner-wrapper .banner-image img {
  width: 100%;
}

@media (max-width: 480px) {
  .banner-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .banner-wrapper .banner-info {
    width: 100%;
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .banner-wrapper .banner-info h4 {
    margin-bottom: 20px;
  }
  .banner-wrapper .banner-info a {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
  }
  .banner-wrapper .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.2;
    display: none;
  }
  .banner-wrapper .banner-image img {
    height: 100%;
    width: auto;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  .banner-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .banner-wrapper .banner-info {
    width: 75%;
    position: relative;
    z-index: 1;
  }
  .banner-wrapper .banner-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 0.2;
  }
  .banner-wrapper .banner-image img {
    height: 100%;
    width: auto;
  }
}

@media (min-width: 641px) and (max-width: 850px) {
  .banner-wrapper {
    width: 620px;
  }
  .banner-wrapper .banner-image {
    margin-left: 50px;
  }
}

.head-image-wrapper {
  width: 40%;
  position: relative;
  margin-left: auto;
}

.head-image-wrapper .work-image {
  position: absolute;
  width: 700px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  z-index: 1;
  top: 45%;
  left: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.head-image-wrapper .background-square {
  width: 300px;
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  bottom: 10%;
}

.head-image-wrapper-full {
  width: 50%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 5%;
}

.head-image-wrapper-full .work-image {
  width: 700px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

.head-image-wrapper-full .me-image {
  width: 350px;
  margin-left: auto;
  margin-top: -50px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  position: relative;
  z-index: 1;
}

.head-image-wrapper-full .background-square {
  position: absolute;
  top: 30px;
  left: 50px;
  width: 300px;
  z-index: 0;
}

@media (max-width: 680px) {
  .head-image-wrapper,
  .head-image-wrapper-full {
    width: 100%;
    margin: 0;
  }
  .head-image-wrapper .work-image,
  .head-image-wrapper-full .work-image {
    width: 100%;
    position: relative;
    margin: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    top: 0;
    left: 0;
  }
  .head-image-wrapper .background-square,
  .head-image-wrapper-full .background-square {
    width: 50%;
    bottom: -10%;
    left: -5%;
    position: absolute;
  }
}

@media (min-width: 680px) and (max-width: 850px) {
  .head-image-wrapper .work-image {
    width: 550px;
  }
  .head-image-wrapper .background-square {
    width: 200px;
    bottom: 20%;
    left: -5%;
  }
}
/*# sourceMappingURL=style.css.map */