.title-wrapper .page-title {
  font-size: 3rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

html body .sub-heading, .app-header .center-wrapper .logo-wrapper .logo, .footer .footer-top .credit h6, .title-wrapper .page-subHeading,
.title-wrapper .page-emHeading, #contact-wrapper .mobile-form-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

.footer .center-wrapper .footer-column h6, #contact-wrapper form .input-wrapper label {
  font-size: 1rem;
  font-weight: 700;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
}

.footer .footer-top .credit p, .footer .center-wrapper .footer-column ul li a,
.footer .center-wrapper .footer-column ul li button,
.footer .center-wrapper .footer-column ul li p {
  font-size: 1rem;
  font-weight: 500;
  color: #8e919c;
  font-family: "Overpass", sans-serif;
}

#contact-wrapper .left-wrapper .information p {
  font-size: 1rem;
  font-weight: 400;
  color: #2d3142;
  font-family: "Overpass", sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Overpass", sans-serif;
}

html body {
  width: 100%;
  height: auto;
}

html body .center-wrapper {
  width: 1100px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  html body .center-wrapper {
    width: 100%;
    padding: 0 5%;
  }
}

.app-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: #e0e0e0 1px solid;
  height: 70px;
}

.app-header .center-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-header .center-wrapper nav {
  margin-left: auto;
}

.app-header .center-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app-header .center-wrapper nav ul li {
  margin-left: 25px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0px;
}

.app-header .center-wrapper nav ul li a {
  text-decoration: none;
  color: #2d3142;
  font-family: "Cabin", sans-serif;
  font-size: 1rem;
}

.app-header .center-wrapper nav ul li .link-icon {
  width: 7px;
  height: 7px;
  margin: 0 auto;
  margin-top: 5px;
  padding: 0;
  display: none;
  margin-top: 5px;
}

.app-header .center-wrapper nav ul li #circle {
  background-color: #2d3142;
  border-radius: 50%;
}

.app-header .center-wrapper nav ul li #square {
  background-color: #008bf8;
}

.app-header .center-wrapper nav ul li #triangle {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #57e290;
}

.app-header .center-wrapper nav ul #contact-link {
  margin-left: 50px;
}

.footer {
  width: 100%;
}

.footer .footer-top {
  width: 100%;
  height: 120px;
  border-top: #e0e0e0 1px solid;
  border-bottom: #e0e0e0 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-top .center-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-top .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.footer .footer-top .social-links a {
  width: 25px;
  height: 25px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-top .social-links a img {
  width: 100%;
  height: 100%;
}

.footer .center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .center-wrapper .footer-column {
  width: 20%;
  margin-top: 80px;
}

.footer .center-wrapper .footer-column ul {
  margin-top: 30px;
}

.footer .center-wrapper .footer-column ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

.footer .center-wrapper .footer-column ul li a,
.footer .center-wrapper .footer-column ul li button,
.footer .center-wrapper .footer-column ul li p {
  background: none;
  outline: none;
  border: none;
  text-decoration: none;
  color: #2d3142;
  cursor: pointer;
}

.footer .center-wrapper .footer-column ul li p {
  color: #8e919c;
  font-weight: 400;
  font-size: 0.9rem;
  cursor: default;
}

.footer .center-wrapper .footer-column ul li a:hover {
  color: #008bf8;
}

.footer .center-wrapper .footer-column ul li button:hover {
  color: #57e290;
}

.footer .center-wrapper .footer-column ul .p-li {
  margin: 0;
}

.title-wrapper {
  margin: 100px 0;
  width: 55%;
}

.title-wrapper .page-title {
  margin-bottom: 30px;
}

.title-wrapper .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.title-wrapper .flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-wrapper .page-emHeading {
  font-style: italic;
  font-weight: 300;
}

.title-wrapper .flex-row .page-emHeading {
  margin-left: auto;
}

.title-wrapper a {
  text-decoration: none;
  text-align: center;
  padding: 5px 20px;
  padding-top: 0;
}

.title-wrapper a:hover {
  border-bottom: #ffa114 2px solid;
  margin-bottom: -2px;
}

@media (max-width: 680px) {
  .title-wrapper {
    width: 100%;
  }
  .title-wrapper .page-title {
    margin-bottom: 50px;
  }
  .title-wrapper a {
    border-bottom: #ffa114 2px solid;
    margin-bottom: -2px;
  }
}

.works-navigation {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.works-navigation .btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works-navigation .btn-list li {
  list-style-type: none;
  margin: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.works-navigation .btn-list li button {
  background: none;
  border: none;
  outline: none;
  font-family: "Overpass", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #595d6e;
  cursor: pointer;
}

.works-navigation .btn-list li .shape-wrapper {
  width: 10px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  margin-top: 4px;
}

.works-navigation .btn-list li .shape-wrapper img {
  width: 100%;
}

.works-navigation .btn-list li .shape-wrapper .smaller-shape {
  width: 80%;
}

.works-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 800px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.works-grid .grid-item {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
}

.works-grid .grid-item a {
  width: 90%;
  height: 90%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
  overflow: hidden;
}

.works-grid .grid-item a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works-grid .grid-item a:hover {
  width: 95%;
  height: 95%;
  -webkit-box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
          box-shadow: 0 0 50px rgba(45, 49, 66, 0.36);
}

@media (max-width: 480px) {
  .works-grid {
    width: 90%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  .works-grid .grid-item {
    height: 200px;
  }
}

@media (min-width: 480px) and (max-width: 640px) {
  .works-grid {
    width: 90%;
  }
  .works-grid .grid-item {
    height: 200px;
  }
}

@media (min-width: 641px) and (max-width: 850px) {
  .works-grid {
    width: 620px;
  }
  .works-grid .grid-item {
    height: 220px;
  }
}

#contact-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 800px;
  margin-bottom: 100px;
}

#contact-wrapper .left-wrapper {
  width: 50%;
  margin-right: auto;
  padding-right: 20px;
  margin-bottom: auto;
}

#contact-wrapper .left-wrapper .information p {
  margin-top: 5px;
  font-size: 0.9rem;
}

#contact-wrapper .left-wrapper .details {
  width: 100%;
}

#contact-wrapper .left-wrapper .details .detail {
  width: 100%;
  height: 70px;
  border: #e0e0e0 1px solid;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin-top: 30px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact-wrapper .left-wrapper .details .detail span .detail-heading {
  font-family: "Cabin", sans-serif;
  font-size: 0.8rem;
  color: #595d6e;
}

#contact-wrapper .left-wrapper .details .detail span .detail-p {
  font-size: 1rem;
  color: #2d3142;
}

#contact-wrapper .left-wrapper .details .detail .copy-btn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: 5px;
}

#contact-wrapper .left-wrapper .details .detail .copy-btn img {
  width: 100%;
}

#contact-wrapper .left-wrapper .details .detail:hover {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper .left-wrapper .details .detail-copied {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper .mobile-form-title {
  margin: 30px 0;
  display: none;
}

#contact-wrapper form {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 32px;
  margin-bottom: auto;
  padding-left: 20px;
}

#contact-wrapper form .input-wrapper {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contact-wrapper form .input-wrapper label {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 10px;
  margin-bottom: 5px;
}

#contact-wrapper form .input-wrapper input,
#contact-wrapper form .input-wrapper textarea {
  border: 1px #e0e0e0 solid;
  border-radius: 3px;
  outline: none;
  padding: 5px 10px;
  color: #2d3142;
  font-size: 1rem;
  font-weight: 500;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact-wrapper form .input-wrapper input::-webkit-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper input:-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper input::-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper input::placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper input:focus {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper form .input-wrapper textarea {
  resize: none;
  height: 150px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact-wrapper form .input-wrapper textarea::-webkit-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper textarea:-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper textarea::-ms-input-placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper textarea::placeholder {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #595d6e;
}

#contact-wrapper form .input-wrapper textarea:focus {
  border: 1px #008bf8 solid;
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

#contact-wrapper form input[type="submit"] {
  background: none;
  border: none;
  outline: none;
  background-color: #ffa114;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 5px 30px;
  margin-left: auto;
  margin-top: 5px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#contact-wrapper form input[type="submit"]:hover {
  -webkit-box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
          box-shadow: 0 0 20px rgba(45, 49, 66, 0.13);
}

.copied-alert {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
  margin-bottom: -30px;
}

.copied-alert p {
  font-size: 0.9rem;
  font-weight: 300;
  color: #595d6e;
  margin-right: 10px;
}

.copied-alert img {
  width: 10px;
}

@media (max-width: 390px) {
  #contact-wrapper {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-wrapper .left-wrapper,
  #contact-wrapper form {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  #contact-wrapper .mobile-form-title {
    display: block;
  }
}

@media (min-width: 391px) and (max-width: 600px) {
  #contact-wrapper {
    width: 90%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-wrapper .left-wrapper,
  #contact-wrapper form {
    width: 100%;
    padding: 0 10px;
    margin: 0;
  }
  #contact-wrapper .mobile-form-title {
    display: block;
  }
}

@media (min-width: 601px) and (max-width: 730px) {
  #contact-wrapper {
    width: 100%;
  }
}

@media (min-width: 730px) and (max-width: 850px) {
  #contact-wrapper {
    width: 90%;
  }
}
/*# sourceMappingURL=style.css.map */