.footer {
  width: 100%;
  margin-bottom: 50px;
  .footer-top {
    width: 100%;
    height: 120px;
    border-top: $bG;
    border-bottom: $bG;
    display: flex;
    .center-wrapper {
      align-items: center;
      display: flex;
      margin-top: 0;
    }
    .credit {
      h6 {
        @extend %h3;
      }
      p {
        @extend %hP;
      }
    }
    .social-links {
      display: flex;
      margin-left: auto;
      a {
        width: 25px;
        height: 25px;
        margin: 0 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .center-wrapper {
    display: flex;
    align-items: flex-start;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    margin-top: 80px;
    .footer-column {
      width: 100%;
      margin-right: 5%;
      h6 {
        @extend %h6;
        font-weight: 700;
      }
      ul {
        margin-top: 30px;
        li {
          list-style-type: none;
          margin-bottom: 10px;
          a,
          button,
          p {
            @extend %hP;
            background: none;
            outline: none;
            border: none;
            text-decoration: none;
            color: $dark;
            cursor: pointer;
            font-weight: 300;
          }
          p {
            color: $light;
            font-weight: 300;
            font-size: 0.8rem;
            cursor: default;
          }
          a:hover {
            color: $blue;
          }
          button:hover {
            color: $green;
          }
        }
        .p-li {
          margin: 0;
        }
      }
    }
  }
}

// @media (max-width: 370px) {
//   .footer {
//     .footer-top {
//       .center-wrapper {
//         display: flex;
//         padding: 0 5%;
//       }
//     }
//     .center-wrapper {
//       grid-template-columns: repeat(1, 1fr);
//       padding-top: 30px;
//       .footer-column {
//         margin: 0 auto;
//         margin-top: 20px;
//         width: 90%;
//       }
//       #contact-column {
//         grid-row-start: 3;
//         grid-column-start: 1;
//         grid-column-end: 2;
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         margin: 0;
//         margin-top: 20px;
//         h6 {
//           display: none;
//         }
//         ul {
//           li {
//             text-align: center;
//           }
//           #form-link {
//             display: none;
//           }
//         }
//       }
//     }
//   }
// }
@media (max-width: 610px) {
  .footer {
    .footer-top {
      .center-wrapper {
        display: flex;
      }
    }
    .center-wrapper {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      .footer-column {
        margin-right: 0;
      }
      #contact-column {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
        display: flex;
        justify-content: center;
        h6 {
          display: none;
        }
        ul {
          li {
            text-align: center;
          }
          #form-link {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 611px) and (max-width: 880px) {
  .footer {
    .footer-top {
      .center-wrapper {
        display: flex;
      }
    }
    .center-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
