.app-header {
  width: 100%;
  display: flex;
  border-bottom: $bG;
  height: 70px;
  .center-wrapper {
    align-items: center;
    justify-content: center;
    position: relative;
    .logo-wrapper {
      .logo {
        @extend %h3;
        text-decoration: none;
      }
    }
    nav {
      margin-left: auto;
      margin-top: 15px;
      ul {
        display: flex;
        li {
          margin-left: 25px;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          // margin-top: 15px;
          margin-top: 0px;
          .active {
            span {
              border: 2px red solid;
              img {
                display: block;
              }
            }
            #circle {
              display: block;
              
            }
          }
          a {
            text-decoration: none;
            color: $dark;
            font-family: $hF;
            font-size: 1rem;
          }
          .link-icon {
            width: 11px;
            height: 11px;
            margin: 0 auto;
            margin-top: 5px;
            padding: 0;
            // border: 1px red solid;
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: visible;
            // border: 1px solid red;
            img {
              width: 100%;
              height: 100%;
              display: none;
            }
            #hexagon {
              width: 92%;
              height: 82%;
            }
            #circle {
              width: 80%;
              height: 80%;
              display: none;
            }
            #square {
              width: 80%;
              height: 80%;
            }
          }
          #circle {
            background-color: $dark;
            border-radius: 50%;
            width: 9px;
            height: 9px;
            margin-top: 6px;
            display: none;
          }
          // #square {
          //   background-color: $blue;
          // }
          // #triangle {
          //   width: 0;
          //   height: 0;
          //   border-left: 5px solid transparent;
          //   border-right: 5px solid transparent;
          //   border-bottom: 8px solid $green;
          // }
        }
        #contact-link {
          margin-left: 50px;
        }
      }
    }
    .burger-menu-icon {
      background: none;
      border:none;
      outline: none;
      width: 30px;
      height: 25px;
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translate(0, -50%);
      cursor: pointer;
      z-index: 16;
      img {
        width: 100%;
      }
    }
  }
  .mobile-menu {
    display: none;
    width: 100%;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    box-shadow: $shadow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
    overflow: hidden;
    transition: 0.3s;
    li {
      // width: 40%;
      list-style-type: none;
      margin: 10px 0;
      a {
        font-family: $hF;
        color: $dark;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}


@media (max-width: 600px) {
  .app-header {
    .center-wrapper {
      nav {
        display: none;
      }
      .burger-menu-icon {
        display: flex;
      }
    }
     .mobile-menu {
      display: flex;
    }
  }
}