.app-header {
  width: 100%;
  display: flex;
  border-bottom: $bG;
  height: 70px;
  .center-wrapper {
    align-items: center;
    justify-content: center;
    position: relative;
    .logo-wrapper {
      .logo {
        @extend %h3;
        text-decoration: none;
      }
      .blue {
        @extend %h3;
        text-decoration: none;
        color: $blue;
      }
    }
    nav {
      margin-left: auto;
      margin-top: 15px;
      ul {
        display: flex;
        li {
          margin-left: 25px;
          list-style-type: none;
          display: flex;
          flex-direction: column;
          // margin-top: 15px;
          margin-top: 0px;
          .active {
            color: $blue;
            .link-icon {
              min-width: 100%;
              background-color: $blue;
            }
          }
          a {
            text-decoration: none;
            color: $dark;
            font-family: $hF;
            font-size: 1rem;
            transition: 0.1s;
          }
          a:hover {
            color: $orange;
            .link-icon {
              background-color: $orange;
              min-width: 100%;
            }
          }
          .active:hover {
            color: #8c977b;
            .link-icon {
              background-color: #8c977b;
              min-width: 100%;
            }
          }
          .link-icon {
            min-width: 0%;
            width: 0%;
            height: 2px;
            background: none;
            display: block;
            margin-top: 5px;
            transition: 0.1s background-color;
            transition: 0.3s min-width;
          }
        }

        #contact-link {
          margin-left: 50px;
        }
      }
    }
    .burger-menu-icon {
      background: none;
      border: none;
      outline: none;
      width: 30px;
      height: 25px;
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translate(0, -50%);
      cursor: pointer;
      z-index: 16;
      img {
        width: 100%;
      }
    }
  }
  .mobile-menu {
    display: none;
    width: 100%;
    height: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    box-shadow: $shadow;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 15;
    overflow: hidden;
    transition: 0.3s;
    li {
      // width: 40%;
      list-style-type: none;
      margin: 10px 0;
      a {
        font-family: $hF;
        color: $dark;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 500;
      }
      .active {
        color: $blue;
      }
    }
  }
}

@media (max-width: 600px) {
  .app-header {
    .center-wrapper {
      nav {
        display: none;
      }
      .burger-menu-icon {
        display: flex;
      }
    }
    .mobile-menu {
      display: flex;
    }
  }
}
