.cv-modal {
  padding: 10px 20px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 3px;
  background-color: $blue;
  box-shadow: $shadow;
  cursor: default;
  z-index: 10;
  p {
    font-size: 1rem;
    font-weight: 400;
    color: $white;
    a {
      font-style: italic;
      font-weight: 200;
      margin-right: 15px;
      cursor: pointer;
      color: $white;
      text-decoration: none;
    }
    a:hover {
      border-bottom: 1px $white solid;
    }
  }
  .close-modal-btn {
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    width: 10px;
    height: 10px;
    background: none;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
@media (max-width: 410px) {
  .cv-modal {
    width: 90%;
  }
}

@media (min-width: 411px) and (max-width: 530px) {
  .cv-modal {
    width: 80%;
  }
}

@media (min-width: 531px) and (max-width: 630px) {
  .cv-modal {
    width: 60%;
  }
}
