.heading-wrapper {
  width: 1100px;
  height: 100%;
  padding: 0 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.title-wrapper,
.home-title {
  margin: 100px 0;
  margin-bottom: 250px;
  width: 55%;
  .flex-row {
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      text-align: center;
      align-items: center;
      justify-content: center;
      padding: 5px 20px;
      position: relative;
      p {
        position: relative;
        z-index: 2;
        transition: 0.2s;
        margin: 0;
      }
      .link-bg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 0%;
        width: 0%;
        height: 100%;
        transition: 0.2s;
        z-index: 1;
        background-color: $orange;
        overflow: hidden;
        border-radius: 0px;
      }
    }
    a:hover {
      background-color: none;
      .link-bg {
        min-width: 100%;
      }
      p {
        color: $white;
      }
    }
    .page-emHeading {
      margin-left: auto;
    }
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .heading-spacing {
    margin-top: 2rem;
    // font-weight: 300;
  }
}
.page-title {
  @extend %h1;
  margin-bottom: 30px;
}
.page-subHeading,
.page-emHeading {
  @extend %h3;
  font-family: $pF;
  font-weight: 500;
}
.page-emHeading {
  font-weight: 300;
  a {
    font-size: 1.3rem;
    font-weight: 300;
    color: $blue;
    text-decoration: none;
  }
  a:hover {
    border-bottom: $bB;
  }
}
.title-wrapper {
  width: 40%;
}
.contact-heading {
  @extend .heading-wrapper;
  margin: 100px auto;
  margin-bottom: 250px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .page-emHeading {
    width: 60%;
    text-align: center;
    margin-top: -10px;
  }
  .details-wrapper {
    width: 50%;
    display: flex;
    margin-top: 30px;
    .border-right {
      border-right: 2px $grey solid;
    }
    .contact-detail {
      width: 50%;
      align-items: center;
      padding: 5px 10%;
      position: relative;
      .small-p {
        font-family: $hF;
        font-size: 0.9rem;
        color: $textLight;
        margin-bottom: 5px;
      }
      .detail-p {
        font-size: 1.1rem;
        font-weight: 400;
        cursor: pointer;
        transition: 0.2s;
      }
      .detail-p:hover {
        color: $blue;
      }
    }
    .border-right {
      .detail-p:hover {
        color: $orange;
      }
    }
    .copy-popup {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: -50px;
      padding: 5px 15px;
      // background-color: $grey;
      color: $blue;
      border-radius: 3px;
      display: none;
    }
  }
  .anchor-link {
    margin-top: 60px;
  }
}

@media (max-width: 460px) {
  .contact-heading {
    width: 100%;
    margin-bottom: 200px;
    margin-top: 60px;
    .page-title {
      text-align: left;
      width: 100%;
    }
    .page-emHeading {
      width: 100%;
      text-align: left;
    }
    .details-wrapper {
      width: 100%;
      flex-direction: column;
      .contact-detail {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        padding: 0;
      }
      .border-right {
        border: none;
      }
    }
    .anchor-link {
      margin-top: 50px;
    }
  }
}

@media (min-width: 461px) and (max-width: 700px) {
  .contact-heading {
    width: 100%;
    .page-emHeading {
      width: 80%;
    }
    .details-wrapper {
      width: 80%;
    }
  }
}

@media (max-width: 680px) {
  .heading-wrapper {
    flex-direction: column;
    height: 100%;
  }
  .home-title,
  .title-wrapper {
    width: 100%;
    margin-bottom: 80px;
    margin-top: 60px;
    .page-title {
      margin-bottom: 50px;
    }
    .flex-row {
      a {
        border-bottom: $bO;
        margin-bottom: -2px;
      }
      a:hover {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }
  .title-wrapper {
    width: 90%;
    .page-title {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 1150px) {
  .heading-wrapper {
    width: 100%;
  }
}
